html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 99%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $color-bg;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 20%,rgba(210,210,210,1) 100%); 
  padding: 0px;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

svg {
  margin-top: 15px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

a {
  font-weight: bold;
  transition: opacity 300ms ease;
  display: inline-block;
  
  &:hover {
    opacity: 0.7;
  }
}

.center {
  width: 720px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -360px;
  margin-top: -200px;
  text-align: center;
}

.badge {
  width: 250px;
  height: 250px;
  background: $color-black;
  color: $color-yellow;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  display: block;
  margin: auto;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
  
  h1 {
    position: absolute;
    margin-top: -28px;
    text-align: center;
    height: 50px;
    width: 100%;
    top: 50%;
  }
}

.card {
  display: block;
  font-size: 22px;
  width: 350px;
  margin-left: 50px;
  margin: auto;
}

/**
 * Transitions
 */

.fade-enter {
  opacity: 0.01;
  transform: translateY(40px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.fade-leave {
  opacity: 1;
  transform: translateY(0px);
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transform: translateY(-40px);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}